*{
    margin: 0;
    padding: 0;
}    

body {
    font-family: "Roboto", sans-serif;
    transition: 0.1s ease ;
}

/* body hr{
    margin: 0 10%;
} */

#faculty-sec{
    margin: 0 4%;
}

.outer-hr{
    margin: 0 10%;
}

.faculties{
    display: flex;
    margin-bottom: 30px;
    transition: box-shadow 0.3s ease-in-out;
}

.faculties:hover{
    z-index: 900;
    /* border: 1px solid rgb(53, 45, 45); */
    transition: color 0.3s ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.faculty-image{
    margin-right: 15px;
}

.faculty-image img{
    cursor: pointer;
    border-radius: 10px;
}

.faculty-image:hover{
transform: scale(1.1);
transition: color 0.3s ease-in-out;
}


.faculty-description{
    text-align: justify;
    align-self: center;
    width: 100%;
}

.faculty-description h4{
    padding: 7px 0;
}

.faculty-description p{
    padding: 3px 0;
}

.faculty-description a{
    text-decoration: none;
    margin: 300px 0;
}

.faculty-description strong{
    margin-right: 5px;
}

#members-sec{
    margin:0 4%;
}

#members-sec h2{
    padding: 0 0 30px 20px;
}


#members-sec #members-div{
    display: flex;
    flex-wrap: wrap;
}

.members{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
    /* padding: 10px; */
    margin:10px 0 5% 0;
    width: 42%;
    min-width: 330px;
    max-width: 400px;
    height: 100px;
}

.members-image{
    border-radius: 50%;
    background-color: white;
    width: 90px;
    height: 90px;
    padding: 3px 20px 0 3px;
}

.members-image img{
    border-radius: 50%;
    width: 86px;
    height: 86px;
}

.members-description a{
    text-decoration: none;
    color: #2a7ae2;;
}

.members-description p{
    padding: 1px 0;
}

/* { Students Section } */


@media (max-width:440px){
    .faculties{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .faculty-image{
        margin-right: 0;
    }
    
    .faculty-image:hover{
    transform: scale(1.02);
    }
    
    .faculty-description{
        margin: 0 0 0 10px;
    }

    .faculty-description p{
        padding: 4px 0;
    }

    .members-description p{
        margin: 0 10px 0 0;
        font-size: 12px;
    }

    #members-sec{
        margin:0 0;
    }
    
    #students-sec{
        margin: 0 0 0 3%;
    }
    
    
    .students .students-content{
        display: block;
    }

    .students{
        margin: 4% 0 0 0;
    }
    
    .students .students-content *{
        margin: 4% 0 0 0;
    }
    
    .students .empty{
        height: 80px;
    }
}
