@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 100px;
}
button.forbut{
  padding: 10px 20px;
  border: 0.5px solid black;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

body {
  width: 100%;
}

.bg{
  background-image: url(./img/bg-image.jpg); 
  background-position: top top; 
  
  transform: translate3d(0px, 0px, 0px);
  background-size: cover;
  background-repeat: no-repeat;
}

/* #navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7% 15px 9%;
  
  position: sticky;
  top: 0;
  left: 0;
}
#navbar img{
  margin-top: -5px;
  cursor: pointer;
}
#navbar ul{
  display: flex;
  flex-direction: row;
}
#navbar ul li{
  list-style: none;
  position: relative;
}
#navbar ul li a{
  color: rgb(32, 31, 31);
  padding: 0 15px;
  text-decoration: none;
  font-weight: 550;
  font-size: 15px;
}
#navbar ul li a:hover,#navbar ul li a.active{
  color: #078178;
  transition: 0.3s;
}
#navbar ul li a.active::after,#navbar ul li a:hover::after{
  content: '';
  width: 50%;
  height: 2px;
  background-color: #078178;
  position: absolute;
  bottom: -3px;
  left: 17px;
}
#navbar ul li img{
  margin-top: -9px;
} */


/* header *{
  font-family: "Google Sans Regular";
  list-style: none;
  text-decoration: none;
}

header{
  background: #11101b;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px; 
}
.logo{
  font-size: 28px;
  font-weight: bold;
  color: #fefefe;
}
.hamburger{
  display: none;
}
.nav-bar ul{
  display: flex;
}
.nav-bar ul li a{
  display: block;
  color: #fefefe;
  font-size:20px ;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}
.nav-bar ul li a:hover{
  color: #11101b;
  background: #fefefe;
}
.nav-bar ul li a.active{
  color: #11101b;
  background: #fefefe; 
}
@media only screen and (max-width:1320px){
  header{
    padding: 0 30px;
  }
}
@media only screen and (max-width:1100px){
  header{
    padding: 0 30px;
  }
}
@media only screen and (max-width:900px){
  .hamburger{
    display: none;
    cursor: pointer;
  }
  .hamburger .line{
    width: 30px;
    height: 3px;
    background: #fefefe; 
    margin: 6px 0;
  }
  .nav-bar{
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #11101b;
    transition: 0.5s;
    overflow: hidden;
  }
  .nav-bar.active{
    height: 450px;
  }
  .nav-bar ul{
    display: none;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar.active ul{
    opacity: 1;
  }
  .nav-bar ul li a{
    margin-bottom: 12px;
  }
} */


.scroll{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  z-index: 999;
  background-color: #E3E6F3;
}

#hero{
  background-position: center center; 
  background-image: url(./img/bg-image.jpg); 
  background-size: cover; 
  transform: translate3d(0px, 0px, 0px);
  
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  height: 90vh;
  width: 100%;
  padding: 0 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.85;
  flex-grow: 1;
  flex-shrink: 0.1;
} 

#hero h1{
  font-family: 'Lato',Arial, Helvetica, sans-serif;
  padding-top: 120px;
  font-size: 90px;
  
  color: #17948c;
  z-index: 999;
}
#hero h2{
  /* font-family: 'Lato',Arial, Helvetica, sans-serif; */
  color: black;
  font-size: 45px;
  z-index: 999;
}
#hero button{
  margin: 20px 0 0 110px;
  background: linear-gradient(to left, salmon 50%, #078178 50%) right;
  background-size: 200%; 
  transition: .5s ease-out;
}
#hero button:hover{
  background-position:left;
  color: white;
  border: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
  z-index: 999;
}
#hero *{
  margin: 5px;
}
#hero h4,#hero p{
  padding-left: 6px;
}

#intro{
  background-color: #fefefe;
  text-align: center;
}
#intro h2{
  font-size: 28px;
  color: #041e42;
}
#intro h3{
  padding: 10px 0;
  color: rgba(33,33,33,1);
}

#recent-study{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#rs-box{
  min-width: 29.4%;
  max-width: 30.4%;
  min-height: 410px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease;
  cursor: pointer;
  padding-bottom: 10px;
}
#rs-box:hover{
  min-width: 29.5%;
  max-width: 30.5%;
  border: 1.5px solid rgb(53, 45, 45);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  z-index: 888;
}
#rs-box img{
  width: 100%;
  border-radius: 25px;

  height: 200px;
  padding: 10px;
}
#rs-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
#rs-content h5{
  padding: 0 0 10px 0;
}
#rs-content span{
  text-align: left;
}

#news-letter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  background-image: url('./img/b14.png');
  background-position: 20% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #041e42;
  width: 100%;
}
#news-msg{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  color: white;
  width: 400px;
  margin-left: 25px;
}
#news-msg h3{
  font-size: 30px;
  font-weight: 700;
  padding-top: 5px;
}
#news-msg p{
  color: white;
}
#news-msg span{
  color:#ffbd27;
}
#input-box{
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 400px;
}
#input-box input{
  padding: 15px 15px;
  width: 75%;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: none;
  background-color: #fff;
}
#input-box input:focus{
outline: none;
}
#input-box button{
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: none;
  padding: 13.5px 20px;
  background: linear-gradient(to left,green 50%,#078178  50%) right;
  background-size: 200%; 
  transition: .5s ease-out;
  color: white;
  border: none;
}
#input-box button:hover{
  background-position:left;
  border: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  z-index: 999;
}



#news{
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
margin: 0 40px;
}
#news h3{
  align-self: flex-start;
  color: #041e42;
  text-align: left;
  padding-left: 7px;
  font-size: 1.5rem;
}
.news-content{
  font-size: 0.9rem;
  padding: 10px;
}

#contact{
  margin: 0 40px;
  font-size: 1.5rem;
  color: #041e42;
  text-align: left;
}

#footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
   align-items: flex-start;
   background-color: #E3E6F3;
  flex-grow: 1;
  flex-shrink: 1;
}
#footer-four{
  padding-left: 15px;
}
#footer-one img{
  padding-bottom: 15px;
}
#footer h4{
  padding: 10px 0;
}
#footer-two,#footer-three{
  display: flex;
  flex-direction: column;
  padding: 65px 0 0 0 ;
}
#footer a{
  text-decoration: none;
  color: #465b52;
  padding: 6px 0;
}
#social-links i{
  padding-right: 3px;
}
#footer #map{
  padding: 80px 0 0 0 ;
}
#download-but img{
  padding: 0;
  margin: 0;
  border: 1px solid #078178;
  border-radius: 8px;
}
#copy-right{
  background-color: #E3E6F3;
  padding: 0 0 40px 0;
  text-align: center;
}
#copy-right p{
  margin: 0 0 20px 0;
}
