*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    transition: 0.1s ease ;
}

.vc-fa-sec {
  padding: 40px 10%;
}

.vc-fa-sec h2 {
  margin-left: 40px;
  font-size: 2rem;
}

.project-title {
  margin-bottom: 10px;
}

.faculty-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 330px;
  margin: 40px;
  padding-top: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out; /* Added transition property */
}

.faculty-card:hover {
  transform: scale(1.05); /* Scale up the card on hover */
}

.faculty-header {
  background-color: #007BFF;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.faculty-image {
  /* width: 200px;
    height: 200px; */
  object-fit: cover;
}

.faculty-details {
  padding: 10px 15px;
}

.faculty-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.faculty-title {
  color: #555;
  margin-bottom: 15px;
}

.contact-info {
  margin-top: 15px;
}

.contact-info * {
  line-height: 1.3;
  margin-bottom: 8px;
}

.bio {
  margin-top: 15px;
}

.vc-faculty {
  display: flex;
}

#students-sec{
    margin: 0 4%;
}

#students-sec h2{
  font-size: 2rem;
}

.students{
    display: flex;
    align-items: center;
    width: 70%;
    cursor: pointer;
}

.students .students-content{
    display: flex;
    width: 100%;
    align-items: center;
}

.students-content *{
    margin: 0 4% 0 0;
}

.colorbox{
    background-color: #DDD;
}
.students:hover{
    background-color: aliceblue;
}


.students .empty{
    width: 10px;
    height: 40px;
    margin: 0 2% 0 0;
}

.students a{
  font-size: 1.1rem;
    text-decoration: none;
    color: #2a7ae2;
    font-weight: 600;
}

#students-div{
  margin-top: 30px;
}

.student-head{
  font-size: 1.2rem;
}

.student-head-head{
  font-size: 1.7rem;
} 

.student-data{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
